<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>template ejs</title>
  </head>
  <body>
      <%= dongxi %>
      <%= qian %>
    <!-- <h1>我买了一个 <%= dongxi %>, 花了 <%= qian %>元.</h1> -->

    <!-- <select name="" id="">
      <% for(var i=1949;i<=2019;i++) { %>
      <option value=" <%= i %> "> <%= i %> </option>
      <% } %>
    </select> -->
    <!-- <%= 有等号表示输出，没等号表示逻辑 -->

    <!-- <%
        for(var i=0; i< 10; i++) {
    %>
        <p>
            <%= i %>
            <%= i %>
        </p>

    <%
        }
    %> -->
  </body>
</html>
